{{!-- Greetings from CSI-VIT!

Congratulations! You have cleared Round 1 (<insert depts>) of our Core Committee Selections.

Celebrate your selection to Round 2 by sharing the avatar in your profile section to your instagram story. Tag us for a chance to be featured on our page!

Round 2 interviews will be conducted online on Discord. Here is the procedure:
1. Join our discord server ( link provided below ).
2. Generate a ticket in the #create-tickets channel. If you are unable to do so, dm us via our instagram channel. Here, you will receive your slot.
3. Log into discord 15 minutes prior to your slot and join the waiting room for your department.
4. You will be tagged in the #waiting-rooms channel as a reminder of the interview.

Discord: https://discord.gg/nWW7Zegqxd
Website: https://ccs.csivit.com
Instagram: https://www.instagram.com/csivitu/

General Guidelines:
1.You are expected to attempt the task assigned for your round 2 interview if you have been selected for either tech or domain. The tasks will go live on the 17th  of February.
2. Kindly turn on your camera and microphone during your interview.
3. Please change your discord username to your real name.
4. You are still eligible to apply for Round 1 of the remaining domains. 

Kindly be on time. Feel free to contact these numbers for any queries: 
+91 93049 17126 (Nimish)
+971 50 895 6491 (Ameesha)
+91 99626 58131 (Prayul) --}}


<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSI-VIT CCS '22</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        * {
            font-family: 'Roboto', sans-serif;
        }

        .parent {
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #131313;
            padding-bottom: 50px;
        }

        .center-rect {
            background-repeat: no-repeat;
            width: 600px;
            border: 2.5px #797979 solid;
            border-radius: 10px;
            align-items: center;
            padding: 3%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 50px;
        }

        .txt {
            position: relative;
            color: white;
            padding: 0%;
            font-family: 'Roboto', sans-serif;
            width: 49ch;
            font-size: 1.2rem;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }
        .subtxt {
            position: relative;
            color: white;
            padding: 0%;
            font-family: 'Roboto', sans-serif;
            width: 49ch;
            font-size: 1rem;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }

        .title-txt {
            position: relative;
            color: white;
            padding: 0%;
            font-family: 'Roboto', sans-serif;
            width: 49ch;
            font-size: 2.4rem;
            text-align: center;
            /* margin-left: 65%; */
            /* margin-right: 50%; */
            box-sizing: content-box;
            width: 100%;
        }

        .left-txt {
            position: relative;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 0.98rem;
            text-align: center;
            margin-top: 0px;
            margin-left: 25%;
            margin-right: 25%;
        }

        .reg-butt {
            width: 170px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;
            padding-bottom: 22px;
        }

        .logo {
            padding-top: 50px;
            width: 539px;
            margin-left: auto;
            margin-right: auto;
        }

        img {
            width: 100%;
        }

        .riddler-link,
        .riddler-link:visited,
        .riddler-link:active {
            color: #DBF429;
        }

        .socials-link,
        .socials-link:visited,
        .riddler-link:active {
            color: white;
        }

        .social-icon {
            width: 1.5rem;
        }

        .label {
            width: 50%;
            margin-top: auto;
            margin-bottom: auto;
        }

        .csi-logo {
            width: 220px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            padding-top: 50px;
        }

        @media screen and (max-width: 600px) {
            .center-rect {
                width: 80vw;
                padding: 7% 5%;
                border-radius: 25px;
                border-width: 1px;
            }

            .logo {
                width: 71.5vw;
                padding-top: 25px;
            }

            .txt {
                font-size: 2.8vw;
                width: 45ch;
            }
            .subtxt {
                font-size: 2.2vw;
                width: 45ch;
            }

            .reg-butt {
                width: 24.2vw;
            }

            .left-txt {
                font-size: 2.8vw;
            }

            .title-txt {
                position: relative;
                color: white;
                padding: 0%;
                font-family: 'Roboto', sans-serif;
                width: 49ch;
                font-size: 1.1rem;
                text-align: center;
                box-sizing: content-box;
                width: 100%;
            }

            .social-icon {
                width: 0.6rem;
                transform: translateY(0.8px);
            }

            .csi-logo {
                width: 110px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>
</head>

<body>
    <div class="parent">
        <div class="logo">
            <!-- <a href="https://riddler.csivit.com">
                <img src="https://i.imgur.com/0xgEZgK.png"> </a> -->
        </div>
        <div class="center-rect">
            <p class="title-txt">
                <b>Greetings from CSI-VIT!</b>
                <b>Congratulations {{name}} on clearing Round 1 ({{domains}}) of CSI-CCS!</b>
            </p>
            <p class="txt">
                Celebrate your selection to Round 2 by sharing the avatar in your profile section to your Instagram story. Tag us for a chance to be featured on our page!
            </p>
            <p class="txt">
                <p class="txt">Round 2 interviews will be conducted online on Discord. Here is the procedure:</p>
                <p class="subtxt">1. We will inform you about your slot details soon via call.</p>
                <p class="subtxt">2. Join our discord server (link provided below).</p>
                <p class="subtxt">3. Join your respective waiting room on discord 15 minutes prior to your interview slot.</p>
                <p class="subtxt">4. You will be tagged in the #waiting-rooms channel as a reminder of the interview.</p>
            </p>
            <p class="txt">
                <p class="txt">Discord: https://discord.gg/nWW7Zegqxd</p>
                <p class="txt">Website: https://ccs.csivit.com/</p>
                <p class="txt">Instagram: https://www.instagram.com/csivitu/</p>
            </p>
            <p class="txt">
                <p class="txt">General Guidelines:</p>
                <p class="subtxt">1. You can attempt the task assigned for your round 2 interviews if you have been selected for either tech or design domain. The tasks will go live on the 20th of February.</p>
                <p class="subtxt">2. Kindly turn on your camera and microphone during your interview.</p>
                <p class="subtxt">3. Please change your discord username to your real name.</p>
            </p>
            <p class="txt">
                Kindly be on time. If you have any doubts then reach out to us by creating a ticket under #create-tickets on our discord channel. Feel free to tag @CSI or @admin.
            </p>
            <div>
                <div style="">
                    <p class="left-txt">
                        <a href="https://www.instagram.com/csivitu" class="socials-link">
                            <img src="https://user-images.githubusercontent.com/67223373/152278954-6f9469a8-2450-4619-92e4-643620142921.png"
                                class="social-icon" alt="instagram">
                        </a>
                        <a href="https://twitter.com/csivitu/" class="socials-link">
                            <img src="https://user-images.githubusercontent.com/67223373/152279155-bc987828-709e-439a-be58-ae147d34ab22.png"
                                class="social-icon" alt="twitter">
                        </a>
                        <a href="https://www.linkedin.com/company/csivitu/" class="socials-link">
                            <img src="https://user-images.githubusercontent.com/67223373/152279258-b7b9f68b-164f-4fc2-be6a-59587716fc71.png"
                                class="social-icon" alt="linkedin">
                        </a>
                        <a href="https://www.facebook.com/csivitu" class="socials-link">
                            <img src="https://user-images.githubusercontent.com/67223373/152279300-8a47fc99-3a45-4ca0-afb3-0ac87d378a44.png"
                                class="social-icon" alt="facebook">
                        </a>
                    </p>
                </div>
                <!-- <div class="label" style="width: 35%; float: right; height:137.45px;">
                    <a href="https://linktr.ee/CSIVIT">
                        <img src="https://static.csivit.com/riddler-21/label.png"> </a>
                </div> -->
            </div>
            <div class="csi-logo">
                <a href="https://csivit.com">
                    <img src="https://i.imgur.com/tR6j32O.png"></a>
            </div>
        </div>
    </div>
</body>

</html>